body {
    margin: 0;
    padding: 0;
    }

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1624244311764-8afdd54fd070?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(204, 102, 0);
    font-size: 4rem;
    font-family: fantasy;
    text-transform: uppercase;
    }

.news {
    
    padding: 50px 0 50px;
    background-color: #fff;
    border: 1px solid black;
    
    
}

article {
   width: 768px;
   margin: 0 auto 32px;
   padding: 6px 15px;
   border-radius: 5%;
   background-color: azure;
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1
}

.title:hover {
    color: #0085a1;
}

article h2 {
    color: rgb(204, 102, 0); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    width: min-content;
    
}

article p {
    color: black;
    font-size: larger;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: initial;
}

.read_next {
    font-weight: bolder;
    color: rgb(204, 102, 0);
}

#news1 h2::before { 
    content: "\0022new\0022"
}


#news2 h2::before {
    content:"\0022new\0022"
}
 
article:nth-child(2n) {
    background-color:#ffcc99;
}

article:nth-child(odd) {
    background-color:#ffcccc ;
}



footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    background-color:#ffcccc ;
    
}

footer .Links {
    margin-bottom: 50px;
}

footer .Links > a {
    color: brown;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    color: #0085a1;
}

.copyright {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}


